<div>
    <h1>Connect with {{application.title}}</h1>
    <form action="/api/oauth2/authorize/decision" method="post">
        <input type="hidden" name="transaction_id" value="{{transaction_id}}">
        <input type="hidden" name="response_type" value="{{response_type}}">
        <input type="hidden" name="client_id" value="{{application.oauth_id}}">
        <input type="hidden" name="auth_url" value="{{current_url}}">
        <input type="hidden" name="scope" value="{{scope}}">
        <input type="hidden" name="client_id" value="{{application.oauth_id}}">
        <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
        <h3>{{application.title}} needs access to:</h3>
        <ul>
            {{#each scope}}
                <li>{{this}}</li>
            {{/each}}

            <input type="submit" value="Allow" id="allow" />
            <input type="submit" value="Deny" name="cancel" id="deny" />
        </ul>
    </form>
</div>
